@model IEnumerable<Ahlia.Models.Rassing>

@{
    ViewData["Title"] = "Index";
}


<div class="row">
    <div class="col-lg-12">
        <div class="card mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">
                    <a asp-action="Create">
                        زيادة عدد الأسهم

                    </a>
                </h6>
                <span>جدول زيادات عدد الأسهم</span>
            </div>
            <div class="table-responsive p-3">
                <div id="dataTableHover_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table" id="dataTableHover">
    <thead>
        <tr>
            <th style="text-align:center;">
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th style="text-align:center;">
                @Html.DisplayNameFor(model => model.RassingDate)
            </th>
            <th style="text-align:center;"hidden>
                @Html.DisplayNameFor(model => model.RassingType)
            </th>
            <th></th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                                            <td style="text-align:center;">
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
              <td style="text-align:center;">
                                                @{
                                                    string DateOnly = item.RassingDate.Value.Date.ToShortDateString();
                                                }
                @Html.DisplayFor(modelItem =>DateOnly )
            </td>
              <td style="text-align:center;" hidden>
                @Html.DisplayFor(modelItem => item.RassingType)
            </td>
            
             <td style="text-align: center; white-space: nowrap;">
                                                <a asp-action="Delete" asp-route-id="@item.id">تراجع عن الزيادة</a>
                                                </td>


                                        
        
    </tr>
}
    </tbody>
</table>
 </div>

                </div>
            </div>
        </div>
    </div>

</div>
</div>

@section Scripts

    {

        <script>



            $(document).ready(function () {
                $('#dataTableHover').DataTable(); // ID From dataTable
                //  $('#dataTableHover').DataTable(); // ID From dataTable with Hover
            });
        </script>
      }
