@model IEnumerable<Ahlia.Models.Banning>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary"><a asp-action="Create">إنشاء مساهم جديد</a></h6>
            </div>
            <div class="table-responsive p-3">
                <div id="dataTableHover_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_length" id="dataTableHover_length">
                                <label>
                                    Show
                                    <select name="dataTableHover_length" aria-controls="dataTableHover" class="custom-select custom-select-sm form-control form-control-sm">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select> entries
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div id="dataTableHover_filter" class="dataTables_filter">
                                <label>
                                    بحث:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTableHover">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table align-items-center table-flush table-hover dataTable" id="dataTableHover" role="grid" aria-describedby="dataTableHover_info">
                                <thead class="thead-light">
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="dataTableHover" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 148.781px; "> @Html.DisplayNameFor(model => model.Id)</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTableHover" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 238.031px;"> @Html.DisplayNameFor(model => model.BannedType)</th>
                                        
                                        <th>
                                        </th>





                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr role="row">
                                            <td style="text-align: center;">
                                                @Html.DisplayFor(modelItem => item.Id)
                                            </td>


                                            <td style="text-align: center;">
                                                @Html.DisplayFor(modelItem => item.BannedType)
                                            </td>
                                           



                                            <td style="text-align: center; white-space: nowrap;">
                                                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a> |
                                                <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-eye"></i></a> |
                                                <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash"></i></a>


                                        </tr>
                                    }



                                </tbody>
                            </table>
                        </div>
                    </div><div class="row">
                        <div class="col-sm-12 col-md-5">
                            <div class="dataTables_info" id="dataTableHover_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>
                        </div>
                        <div class="col-sm-12 col-md-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="dataTableHover_paginate">
                                <ul class="pagination">
                                    <li class="paginate_button page-item previous disabled" id="dataTableHover_previous">
                                        <a href="#" aria-controls="dataTableHover" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                                    </li>
                                    <li class="paginate_button page-item active">
                                        <a href="#" aria-controls="dataTableHover" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                                    </li>
                                    <li class="paginate_button page-item ">
                                        <a href="#" aria-controls="dataTableHover" data-dt-idx="2" tabindex="0" class="page-link">2</a>
                                    </li>
                                    <li class="paginate_button page-item ">
                                        <a href="#" aria-controls="dataTableHover" data-dt-idx="3" tabindex="0" class="page-link">3</a>
                                    </li>
                                    <li class="paginate_button page-item ">
                                        <a href="#" aria-controls="dataTableHover" data-dt-idx="4" tabindex="0" class="page-link">4</a>
                                    </li>
                                    <li class="paginate_button page-item "><a href="#" aria-controls="dataTableHover" data-dt-idx="5" tabindex="0" class="page-link">5</a></li>
                                    <li class="paginate_button page-item "><a href="#" aria-controls="dataTableHover" data-dt-idx="6" tabindex="0" class="page-link">6</a></li>
                                    <li class="paginate_button page-item next" id="dataTableHover_next">
                                        <a href="#" aria-controls="dataTableHover" data-dt-idx="7" tabindex="0" class="page-link">Next</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
